body {
    margin: 0;
    padding: 0;
    /*background-color: #202020;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
    min-height: 100vh;
}